/* components/HeaderSection/HeaderSection.module.css */

.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }
  
  @media (min-width: 768px) {
    .headerContainer {
      flex-direction: row;
    }
  }
  
  .textContainer {
    flex: 1;
    padding-right: 2rem;
    margin-bottom: 2rem;
  }
  
  .canvasContainer {
    flex: 1;
    height: 250px;
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .canvasContainer {
      height: 400px;
    }
  }
  